*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

#box {
  width: 25px;
  height: 25px;
  background-color: DeepSkyBlue;
}