*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}
